name: "Android Fastlane with Flutter Firebase Distribution"

on:
  push:
    branches:
      - development

jobs:
  distribution_to_firebase:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout my repo code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.3.5'
        bundler-cache: trues
        working-directory: android

    - name: Build and Distribute App
      env:
        FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
      run: |
        fastlane --verbose android flutter_distribution
      working-directory: android
